body {
	min-height: 100vh;
	flex-direction: column;
	background-color: $blue-grey-800;
	display: flex;
	main {
		flex: 1 0 auto;
	}
}

header {
	background-color: $blue-grey-700;
}
footer {
	border-top: 1px solid $blue-grey-600;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding-left: $base-spacing-unit*4;
	padding-right: $base-spacing-unit*4;
	margin-left: auto;
	margin-right: auto;
}

.app-component {
	.result {
		padding: $base-spacing-unit*4;
		font-size: 7rem;
	}
}

@include media-query(palm) {
    h1 {
    	font-size: 1em;
    }
    .app-component {
    	.swp {
    		display: none;
    	}
		.result {
			padding: $base-spacing-unit*2;
			font-size: 4rem;
		}
	}
}