html
	head
		title!= title
		link(href='vendor.min.css', rel='stylesheet')
		link(href='style.min.css', rel='stylesheet')
	body(ng-app='app')
		header(class='p+')
			h1.text-center.tc-white-1!= title
		main(flex-container="column", flex-align="center")
			section.container
				app-component
		footer(class='p+')
			div.copyright.text-center.tc-blue-grey-400!= copyright
		script(src='vendor.min.js')
		script(src='app.min.js')